{
  "presets": [
      "@babel/preset-env"
    ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "@": "./",
        "@server": "./server",
        "@models": "./server/models",
        "@tests": "./__tests__",
        "@routes": "./server/routes",
        "@config": "./server/config",
        "@validators": "./server/validators",
        "@components": "./client/components",
        "@middleware": "./server/middleware",
        "@controllers": "./server/controllers"
      }
    }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ],
  "ignore": ["server/public/**/*.js"]
}
